$mainColor: #ff7b7b;
$secondaryColor: #9478fd;
$thirdColor: #ececec;
$lightColor: #ffffff;
$darkColor: #333333;
$notificationColor: #7bffd2;

$thinWeight: 100;
$lightWeight: 300;
$normalWeight: 400;
$mediumWeight: 500;
$boldWeight: 700;

$smallSize: 10px;
$normalSize: 14px;
$bigSize: 17px;
$hugeSize: 22px;
