<div>
    <div class="njc-header">
        <a href="#/character/" class="njc-header-back">
            <svg class="njc-header-back-icon">
                <use xlink:href="static/icons.svg#svgicon-left"></use>
            </svg>
        </a>
        <a href="#/character/" class="njc-header-back-text">{{character.name}}, {{character | rank}}</a>
        <span class="njc-header-misc">
            <span class="njc-header-xp">{{character | xp:this}}</span>
            <span class="njc-header-legend">xp</span>
        </span>
    </div>

    <div class="njc-banner">
        <span class="njc-banner-legend">Total XP :</span>
        <input type="text" class="njc-banner-total-xp" ng-model="character.xp" ng-change="setMaxXp()"/>
        <span class="njc-banner-edit">Modifier</span>
    </div>

    <div class="base-items">
        <base-edit-item ng-repeat="(key, value) in character.bases" base="characterBases[key]"
                        value="value"></base-edit-item>
        <div class="njc-base-item njc-base-item__fake"></div>
        <div class="njc-base-item njc-base-item__fake"></div>
        <div class="njc-base-item njc-base-item__fake"></div>
        <div class="njc-base-item njc-base-item__fake"></div>
        <div class="njc-base-item njc-base-item__fake"></div>
        <div class="njc-base-item njc-base-item__fake"></div>
        <div class="njc-base-item njc-base-item__fake"></div>
        <div class="njc-base-item njc-base-item__fake"></div>
    </div>

    <div class="skill-items">
        <skill-edit-item ng-repeat="(key, value) in character.skills" skill="commonSkills[key]||additionalSkills[key]"
                         value="value" ng-class="{first:$first}"></skill-edit-item>
        <div class="njc-skill-item njc-skill-item__fake"></div>
        <div class="njc-skill-item njc-skill-item__fake"></div>
        <div class="njc-skill-item njc-skill-item__fake"></div>
        <div class="njc-skill-item njc-skill-item__fake"></div>
        <div class="njc-skill-item njc-skill-item__fake"></div>
        <div class="njc-skill-item njc-skill-item__fake"></div>
        <div class="njc-skill-item njc-skill-item__fake"></div>
        <div class="njc-skill-item njc-skill-item__fake"></div>
    </div>

    <div class="njc-center">
        <a class="njc-button njc-button-plain" href="#/character/create/{{currentCharacter}}">Modifier</a>
        <a class="njc-button njc-button-alert" ng-click="deleteCurrent()">Supprimer</a>
    </div>

    <div class="njc-skill-additional-add" ng-show="addSkillButton" ng-click="toggleAddSkill()">
        <svg class="njc-skill-additional-add-icon">
            <use xlink:href="static/icons.svg#svgicon-plus"></use>
        </svg>
    </div>
    <div class="njc-skill-additional-layer">

    </div>
    <div class="njc-skill-additional" ng-show="addSkillList">
        <div class="njc-skill-additional-title">Compétences disponibles</div>
        <div
                class="njc-skill-additional-item"
                ng-repeat="additionalSkill in additionalSkillsMain|missingSkill:this"
                skill="{{additionalSkill.key}}"
                ng-click="addSkill(additionalSkill.key)"
                ng-class="{first:$first}"
        >
            {{additionalSkill.name}}
        </div>
        <div class="njc-skill-additional-title">Compétences de clan</div>
        <div
                class="njc-skill-additional-item"
                ng-repeat="additionalSkill in additionalSkillsClan|missingSkill:this"
                skill="{{additionalSkill.key}}"
                ng-click="addSkill(additionalSkill.key)"
                ng-class="{first:$first}"
        >
            {{additionalSkill.name}}
        </div>
    </div>
</div>